# History files
.Rhistory
.Rapp.history
gatk-4.2.3.0.zip

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
easySFS
GAPIT3.0
PopLDdecay
soft
sweed
LDheatmap_0.99-8.tar.gz
# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~
gcc-v6.4.0/
R-v4.0.3/
cp.sh
rstudio-server-rhel-1.4.1106-x86_64.rpm
shiny-server-1.5.16.958-x86_64.rpm
*.o

bzip2/
curl/
pcre/
xz/
zlib/

