# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~
gcc-v6.4.0/
R-v4.0.3/
cp.sh
rstudio-server-rhel-1.4.1106-x86_64.rpm
shiny-server-1.5.16.958-x86_64.rpm
miR-PREFeR
*.o
hdf5
JAGS-v4.3.0
bzip2/
curl/
pcre/
xz/
zlib/
lib
soft/
cuda
samtools
Python-v3.8.12/
ALLHiC          
bwa    
curl        
gce          
jellyfish  
minimap2  
NextDenovo  
perl    
quickmerge    
seqtk       
SPAdes      
w.sh.o  
zlib
assembly-stats  
bzip2  
GenomeScope  
lib        
mummer    
NextPolish  
Pilon   
R           
soapdenovo  
wtdbg
bedtools        
Canu   
gcc         
Hifiasm      
MECAT      
NECAT     
pcre        
python  
Racon       
samtools   
soft        
xz
fastp
fastqc
gmap
3d-dna
smudgeplot
LACHESIS
Juicer
augustus
bzip2
EVidenceModeler
GeneMark-ES
genometools
infernal
maker
muscle
ProtHint
rmblast
seqtk
tRNAscan-SE
zlib
bamtools
cdhit
exonerate
GeneMark.hmm
GlimmerHMM
jellyfish
metaeuk
Ninja
python
rnammer
SNAP
blast
circos
fasta
GeneMarkS
gmap-gsnap
lib
minimap2
PASApipeline
R
Snoscan
blat
curl
gcc
GenericRepeatFinder
GUSHR
LTR_Finder
miRanda
pblat
RAPSearch
salmon
tools
w.sh.o
BRAKER
DeepTE
GeMoMa
GeneWise
HISAT
Ltr_retriever
miR-PREFeR
pcre
RepeatMasker
samtools
TransDecoder
wu-blast
BUSCO
geneid
GenomeThreader
hmmer
mafft
MITE-Hunter
perl
RepeatModeler
seqkit
trinity
xz
GeMoMa
mysql
GlimmerHMM
mpich
StringTie
MCScanX
bowtie2
java
metaeuk
SQLite
tmhmm
signalp
MMseqs
cegma
python.bak
